table, tr,td,th{


  border: 4px solid red;
  border-width: 1px;
}

table{
  border-collapse: collapse;
}

.yellow{
    background-color: yellow;
}

.vl{
    background-color: violet;
}

.xpath{
    text-align: center;
}

#kun{
    color: red;
}

.umumiy{
    color: white;
}


.title{
    border: 1px outset red;
    width: fit-content;
    text-align: center;
    /* height: 100px; */
    padding: 100px 50px;
}

/* prosta test uchun */
.pdp2{
    border: 1px outset red;
    /* width: 300px; */
    text-align: center;
    margin: 50px;
    margin-right: 0;
}